.card-container {
  position: relative;
}

.card {
  overflow: hidden;
  position: relative;
}

.image-container {
  position: relative;
  overflow: hidden;
}

.card-image {
  display: block;
  width: 100%;
  height: auto;
  border-bottom: 3px solid #ff2020;
  transition: transform 0.3s ease;
}

.view-details {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  position: absolute;
  bottom: -20%;
  left: 0;
  right: 0;
  height: 20%;
  background-color: red;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  opacity: 0;
}

.image-container:hover .view-details {
  bottom: 0;
  opacity: 1;
}
