footer {
    margin-top: 50px;
}

#features {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 100px;
}

#footer-content {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

#footer-content ul {
    list-style: none;
}

#footer-content ul li a {
    text-decoration: none;
    color: #968cb3;
    transition: 0.3s;
}
#footer-content a:hover {
    color: red !important;
  }
#copyright-social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#copyright {
    color: #b8b0af;
}

@media (max-width:768px) {

    #features,
    #footer-content {
        grid-template-columns: auto auto;
        row-gap: 20px;
    }

    #footer-title {
        grid-column: 1/3;
        margin-bottom: 30px;
    }
    #copyright {
        font-size: 1.8vw;
    }
}
